<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/LayoutPadrao}"
	xmlns:logic-bus="http://logic-bus.logicbiz.com">
	
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${funcionario.novo}">Cadastro de funcionário</h1>
					<h1 th:unless="${funcionario.novo}">Edição de funcionário - [[${funcionario.nome}]]</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="logic-page-header-controls">
						<a class="btn  btn-default" th:href="@{/funcionario}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<form method="POST" th:object="${funcionario}" class="form-vertical  js-form-loading" th:action="@{/funcionario/novo}">
		
			<logic-bus:message />
			
			<input type="hidden" th:field="*{id}"/>
			
			<div class="row">
				<div class="col-sm-3  form-group">
					<label for="matricula" class="control-label">Matrícula</label>
					<input id="matricula" type="text" class="form-control" th:field="*{matricula}" />
				</div>
				
				<div class="col-sm-3  form-group">
					<label for="cartao" class="control-label">Cartão</label>
					<input id="cartao" type="text" class="form-control" th:field="*{cartao}" />
				</div>
				
				<div class="col-sm-6  form-group">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}" />
				</div>
			</div>
	
			<div class="row">
				<div class="col-sm-4  form-group">
					<label for="funcao" class="control-label">Função</label>
					<select id="funcao" class="form-control" th:field="*{funcao}" >
						<option value="">Todos as funções</option>
						<option th:each="funcao : ${funcoes}" th:value="${funcao.id}" th:text="${funcao}"/>
					</select>
				</div>
				
				<div class="form-group  col-sm-2" >
					<label class="control-label">Status</label>
					<div>
						<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
							data-on-text="Ativo" data-off-text="Inativo" th:field="*{ativo}"/>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<a th:href="@{/funcionario/inicial}" class="btn  btn-default" >Voltar</a>
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>

</html>