<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/LayoutPadrao}"
	xmlns:logic-bus="http://logic-bus.logicbiz.com">
	
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${tipoChassi.novo}">Cadastro de tipo de observação</h1>
					<h1 th:unless="${tipoChassi.novo}">Edição de tipo de observação - [[${tipoChassi.nome}]]</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="logic-page-header-controls">
						<a class="btn  btn-default" th:href="@{/tipo-chassi}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<form method="POST" th:object="${tipoChassi}" class="form-vertical  js-form-loading" 
				th:action="${tipoChassi.novo} ? @{/tipo-chassi/novo} : @{/tipo-chassi/{id}(id=${tipoChassi.id})}">
		
			<logic-bus:message />
			
			<input type="hidden" th:field="*{id}"/>
			
			<div class="row">
				<div class="form-group  col-sm-4  logic-bus-required" logic-bus:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" autofocus="autofocus" th:field="*{nome}"/>
				</div>
			</div>
			
			<div class="form-group">
				<a href="javascript:history.back()" class="btn  btn-default">Cancelar</a>
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>
	
</section>
	
</html>