<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/LayoutPadrao}"
	xmlns:logic-bus="http://logic-bus.logicbiz.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Programação</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}"/>
</head>

<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Consulta reclamação</h1>
				</div>
				
				<!-- 
				<div class="col-xs-2" sec:authorize-url="/programacao/novo">
					<div class="logic-page-header-controls">
						<a class="btn  btn-default" th:href="@{/programacao/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova programação</span>
						</a>
					</div>
				</div> 
				-->
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${reclamacaoFilter}" th:action="@{/reclamacao}">
		
			<logic-bus:message/>
			
			<!-- 
			<div class="row">
				<div class="form-group  col-sm-4">
					<label for="dataCompetenciaInicial">Data de competência</label>
					<div class="form-inline">
						<input type="text" class="form-control  logic-form-control-inline-sm  js-date" id="dataInicial" th:field="*{dataInicial}" autocomplete="off"/>
						<label for="dataCompetenciaFinal" class="logic-form-label-between">até</label>
						<input type="text" class="form-control  logic-form-control-inline-sm  js-date" id="dataFinal" th:field="*{dataFinal}" autocomplete="off"/>
					</div>
				</div>
			</div>
			 -->
			
			<div class="row">
				<div class="form-group  col-sm-2" >
					<label for="carro" class="control-label">Carro</label>
					<select id="carro" class="form-control" th:field="*{carro.id}">
						<option value="">Selecione o carro</option>
						<option th:each="carro : ${carros}"  th:value="${carro.id}" th:text="${carro}" />
					</select>
				</div>
				
				<div class="form-group  col-sm-3" >
					<label for="motorista" class="control-label">Motorista</label>
					<select id="motorista" class="form-control  custom-select" th:field="*{motorista}">
						<option value="">Selecione o motorista</option>
						<option th:each="motorista : ${motoristas}" th:value="${motorista.id}" th:text="${motorista}" />
					</select>
				</div>
				
				<div class="form-group  col-sm-3" >
					<label for="linha" class="control-label">Linha</label>
					<select id="linha" class="form-control" th:field="*{linha}">
						<option value="">Selecione a linha</option>
						<option th:each="linha : ${linhas}" th:value="${linha.id}" th:text="${linha}" />
					</select>
				</div>
				
				<div class="form-group  col-sm-2" >
					<label for="tipoReclamacao" class="control-label">Tipo de reclamação</label>
					<select id="tipoReclamacao" class="form-control" th:field="*{tipoReclamacao}">
						<option value="">Selecione o tipo de reclamacao</option>
						<option th:each="tipoReclamacao : ${tiposReclamacao}" th:value="${tipoReclamacao.id}" th:text="${tipoReclamacao}" />
					</select>
				</div>
				
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<br />
		
		<div class="table-responsive">
			<table class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead>
					<tr>
						<th>Hora</th>
						<th>Motorista</th>
						<th>Linha</th>
						<th>Carro</th>
						<th>Tipo de reclamação</th>
						<th>Observação</th>
						<th class="logic-bus-colCentro">Ações</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="reclamacao : ${pagina.conteudo}">
						<td th:text="${{reclamacao.hora}}"></td>
						<td th:text="${reclamacao.programacao.motorista}"></td>
						<td th:text="${reclamacao.linha}"></td>
						<td th:text="${reclamacao.carro}"></td>
						<td th:text="${reclamacao.tipoReclamacao}"></td>
						<td th:text="${reclamacao.observacao}"></td>
						
						<td class="text-center">
							<!-- 
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Visualizar" th:href="@{/reclamacao/visualizar/{id}(id=${reclamacao.id})}" > 
								<i class="glyphicon  glyphicon-eye-open"></i>
							</a>
							 -->
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
								data:url="@{/reclamacao/{id}(id=${reclamacao.id})}"
								data:objeto="${reclamacao.tipoReclamacao}">
								<i class="glyphicon  glyphicon-trash"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="7">Nenhuma reclamação encontrada</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<logic-bus:pagination page="${pagina}"/>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/autocomplete-funcionario.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>

</html>
	