<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:logic-bus="http://logic-bus.logicbiz.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="~{layout/LayoutPadrao}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Atualizar roletas</h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="table-responsive">
			<table id="tabelaCarros" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="logic-table-header-solid">
					<tr>
						<th>Número</th>
						<th>Tipo</th>
						<th>Roleta 1</th>
						<th>Status</th>
						<th class="logic-bus-colCentro  logic-bus-col10p" >Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="carro : ${carros}" > 
						<td th:text="${carro.numeroDeOrdem}" />
						<td th:text="${carro.tipoCarro}" />
						<td th:text="${carro.roleta1}" />
						
						<td class="logic-bus-colCentro">
							<th:block th:if="${carro.ativo}">
								<span class="label  label-success">Ativo</span>
							</th:block>
							<th:block th:if="${not carro.ativo}">
								<span class="label  label-danger" >Inativo</span>
							</th:block>
						</td>
						
						<td class="logic-bus-colCentro">
							<a class="btn  btn-link  btn-xs  js-tooltip  js-roletas-btn" title="Atualizar roletas" href="#" 
								data:id-carro="${carro.id}" data:mumero-carro="${carro.numeroDeOrdem}"
								data:roleta1="${carro.roleta1}" 
								data-toggle="modal" data-target="#atualizarRoletasModal">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<th:block th:replace="carro/AtualizarRoletasModal :: atualizarRoletasModal"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script th:src="@{/javascripts/atualizar-roletas.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>

</body>
</html>
	